BasedOnStyle: LLVM
UseTab: Always
IndentWidth: 8
ContinuationIndentWidth: 8
AlwaysBreakAfterDefinitionReturnType: true
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Linux
IndentCaseLabels: false
SpaceBeforeParens: ControlStatementsExceptControlMacros
ForEachMacros: ["tll_foreach"]
AlignEscapedNewlines: DontAlign
